/* Apply general styles to all elements within the form */
form * {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}

/* Apply specific styles to the form element */
.form1 {
  margin: 20px auto; /* Center the form with some margin */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border: aqua 5px solid;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.325);
  width: fit-content; /* Adjust width to fit content */
}

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
